<div id="hp-form">
  <%= form_for @hp do |f| %>
    <%= f.label :book %>
    <%= f.text_field :book %>

    <%= f.label :house %>
    <%= f.text_field :house %>

    <%= f.submit %>
  <% end %>
</div>
